@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.home-main {
  /* background-color: black; */
  /* max-height: 100%; */
  background-image: url(../../Images/backgroundImage.png);
  background-position: center;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  flex-direction: column;
  z-index: 1;
  overflow-y: hidden !important;
  top: 0;
}

.main-page-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.home-menu {
  color: white;
  background-color: transparent;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
