@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: black !important;
  /* overflow-y: hidden; */
}

.home-main {
  background-color: black;
  /* min-height: 100vh; */
  height: calc(100vh - 5em);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: 1;
  /* padding-bottom: 10%; */
  /* overflow: hidden !important; */
}

.main-page-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  /* padding-top: 0; */
  /* margin-top: 40px;
  padding-bottom: 25%; */
}

.home-menu {
  color: #f3b431;
  background-color: transparent;
  border: 0.5px solid #f3b431;
  padding: 7% 100%;
  border-radius: 10px;
}

.bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}
