@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: black !important;
  /* overflow-y: hidden; */
}

.home-main {
  background-color: black;
  /* max-height: 100%; */
  height: calc(100vh - 10em);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: 1;
  overflow: hidden !important;
}

.main-page-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.home-menu {
  color: #f3b431;
  background-color: transparent;
  border: 1px solid #f3b431;
  padding: 10px 70px;
  border-radius: 10px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
