@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap");

.terms-page {
  background-color: rgba(75, 69, 57, 0.9);
  color: white;
  /* height: 100%; */
  padding: 30% 2% 10% 2%;
}

.terms-page h1 {
  font-size: 32px;
  color: #f3b431;
}

.terms-page h2 {
  color: #f3b431;
}

.terms-page p {
  margin-bottom: 10%;
}

@media only screen and (min-width: 700px) {
  .terms-page {
    padding: 15% 5% 10% 5%;
  }
  .terms-page p {
    margin-bottom: 5%;
  }
}
