@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap");

.privacy-page {
  background-color: white;
  color: black;
  height: 100%;
  padding: 5% 2% 10% 2%;
}
