@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap");

.privacy-page {
  background-color: rgba(75, 69, 57, 0.9);
  color: white;
  padding: 30% 2% 10% 2%;
}

.privacy-page h1 {
  /* font-size: 32px; */
  color: #f3b431;
}

.privacy-page h2 {
  color: #f3b431;
}

.privacy-page p {
  margin-bottom: 10%;
}

@media only screen and (min-width: 700px) {
  .privacy-page {
    padding: 15% 5% 10% 5%;
  }
  .privacy-page p {
    margin-bottom: 5%;
  }
}
