@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap");

body {
  font-family: "Source Code Pro", monospace;
}

.contacts-page {
  background-color: #4b4539;
  padding-top: 30%;
  padding-bottom: 40px;
  /* padding: 3%; */
}

.first-h1 {
  margin-bottom: 30px;
  padding-left: 2%;

  font-size: 32px;
  color: #f3b431;
}

.second-h1 {
  margin-bottom: 30px;
  padding-left: 2%;
  margin-top: 10%;
  font-size: 32px;
  color: #f3b431;
}

.third-h1 {
  margin-bottom: 30px;
  padding-left: 2%;
  margin-top: 10%;
  font-size: 32px;
  color: #f3b431;
}

.contacts-page h2 {
  color: #f3b431;
  padding-left: 2%;
  padding-bottom: 3%;
}

.contacts-page p {
  color: white;
}

/* .map-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
} */

.contacts-page h2 {
  margin-bottom: 10px;
}

.contacts-page p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 50px;
  margin: 2%;
}

.contacts-page-p {
  padding-bottom: 20px;
  text-decoration: none;
}
