@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap");

.main-promotion-page {
  padding-left: 2%;
  padding-top: 30%;
  background-image: url(../../Images/Backgrounds/PromotionsBackground.png);

  background-attachment: fixed !important; /* Make background img fixed */
  background-repeat: repeat; /* Don't repeat the img */
  background-size: auto auto; /* Cover the entire screen */
  border: none;
  outline: none;
  color: black;
}

.promotions-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.promotion-list-item:last-of-type {
  padding-bottom: 20%;
}

.promotions-h1 {
  /* padding-top: 30%; */
  /* font-size: 32px; */
  color: #f3b431;
  margin-bottom: 10%;
  padding-left: 2%;
}

@media only screen and (min-width: 700px) {
  .main-promotion-page {
    padding-left: 2%;
    padding-top: 15%;
    background-image: url(../../Images/Backgrounds/PromotionsBackgroundBig.png);

    background-attachment: fixed !important; /* Make background img fixed */
    background-repeat: no-repeat; /* Don't repeat the img */
    background-size: cover; /* Cover the entire screen */
    border: none;
    outline: none;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
  }
  .promotions-h1 {
    padding-left: 0;
  }
  .promotion-list-item:last-of-type {
    padding-bottom: 10%;
  }
}
