@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap");

.navigation {
  width: 100%;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin: 20 0px;
  padding: 0 25px;
}

.navigation ul li {
  list-style-type: none;
  padding-right: 10px;
}

.navbar-main-container {
  position: fixed !important;
  top: 0;
  right: 0;
}

/*! NAVBAR WITH LOGO !*/

.navbar-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99999;
  background-color: rgba(75, 69, 57, 0.9);
  width: 100%;
  position: fixed;
}

.navbar-logo-container img {
  z-index: 99999;
}

@media only screen and (min-width: 700px) {
  .navbar-logo-container,
  .navbar-main-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
