.galery-title-container {
  /* font-size: 32px; */
  color: #f3b431;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.galery-title-container h1 {
  padding-left: 2%;
}

.carousel-1,
.carousel-2,
.carousel-3 {
  width: 100%;
  margin: 15%;
  overflow: hidden;
}

.gallery-sub-title {
  padding-left: 4%;
  margin-bottom: 10%;
  color: #f3b431;
  font-size: 20px;
}

.carousel-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.carousel-card {
  overflow: hidden;
}

.image-wrapper {
  overflow: hidden;
}

@media only screen and (min-width: 700px) {
  .gallery-sub-title {
    margin-bottom: 5%;
  }
  .carousel-image {
    height: 80vh;
  }
  .carousel-1,
  .carousel-2,
  .carousel-3 {
    margin: 5%;
  }
}
