.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.galery-title-container {
  margin-left: 15px;
  padding-top: 20px;
}

.carousel-1,
.carousel-2,
.carousel-3,
.carousel-4 {
  width: 90%;
  margin: 10%;
  overflow: hidden;
  border-radius: 10px; /* Add border-radius to the carousel containers */
}

.carousel-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  /* Remove border-radius and overflow styles from carousel-image */
}

.carousel-card {
  overflow: hidden; /* Hide any overflowing content */
}

.image-wrapper {
  border-radius: 10px; /* Adjust the value to your desired border radius */
  overflow: hidden; /* Hide any overflowing content */
}

/* .gallery-card-container {
  padding-bottom: 20px;
} */

/* .carousel-container {
  position: relative; 
  z-index: 1; 
} */
