@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap");

body {
  background-color: white;
  font-family: "Source Code Pro", monospace;
}

.footer-container {
  width: 100%;
  background-color: rgba(75, 69, 57, 0.8);
  color: white;
  line-height: 1.5;
}

.footer-main {
  text-align: center;
  padding: 20px;
}

.footer-main h3 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
}

.footer-main p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.footer-main h5 {
  font-weight: 300;
  font-size: 10px;
  line-height: 1.5;
}

.footer-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}
