@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap");

nav {
  width: 100%;
  height: 3.25em;
}

.nav-container {
  height: 5em;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 0;
  position: relative;
  z-index: 9999;
}

.burger-menu {
  height: 70%;
  width: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  margin-top: 15px;
}

.bar {
  width: 2.5em;
  height: 0.3em;
  background-color: #f3b431;
  border-radius: 0.5em;
}

.menu {
  width: 100%;
  height: 100vh;
  background-color: RGBA(75, 69, 57, 0.9);
  position: absolute;
  left: 0;
  z-index: 99999;
  padding-top: 15%;
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
  position: fixed;
  z-index: 99999;
}

.no-scroll {
  overflow: hidden;
}

.bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.01em, 1.2em);
  transition: ease-out 0.5s;
}

.bar.clicked:nth-child(2) {
  transform: scale(0.01);
  transition: ease-out 0.5s;
}

.bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(0.05em, 1em);
  transition: ease-out 0.5s;
}

.bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.nav-ul {
  color: rgb(242, 243, 244);
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  height: 100svh;
  width: 100%;
}

.nav-list {
  list-style-type: none;
  font-size: 20px;
  font-family: "Source Code Pro", monospace;
}

.nav-ul .active .nav-list {
  color: #f3b431;
}

.nav-bar-desktop {
  display: none;
}

@media only screen and (min-width: 700px) {
  .nav-container {
    height: 5em;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .nav-ul {
    gap: 50px;
    margin-top: -130px !important;
    height: 100vh;
    width: 100%;
  }
  .burger-menu {
    padding-right: 5% !important;
  }
}
