.specials-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10%;
}

.specials-btn {
  padding: 0.3em.7em;
  border: 0.1em solid #ccc;
  background-color: transparent;
  border-radius: 10px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.specials-btn-active {
  padding: 0.4em.8em;
  border: 0.1em solid black;
  background-color: rgba(243, 180, 49, 0.9);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.specials-pizzas {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.specials-rolinhos {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.specials-salads {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.menu-page {
  margin-bottom: 7%;
}

.menu-page h3 {
  color: rgba(243, 180, 49, 0.9);
}

.menu-page p,
span {
  color: white;
}

@media only screen and (min-width: 700px) {
  .specials-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }

  .specials-btn {
    padding: 0.6em 2.4em;
    border: 0.1em solid #ccc;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .specials-btn-active {
    padding: 0.8em 2.6em;
    border: 0.1em solid black;
    background-color: rgba(243, 180, 49, 0.9);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .menu-page {
    padding-left: 0;
  }
}
