.specials-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10%;
}

.specials-btn {
  padding: 0.2em.5em;
  border: 0.1em solid #ccc;
  background-color: transparent;
  border-radius: 10px;
  color: gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.specials-btn-active {
  padding: 0.2em.5em;
  border: 0.1em solid rgba(243, 180, 49, 0.9);
  background-color: rgba(243, 180, 49, 0.9);
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.specials-pizzas {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.specials-rolinhos {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.specials-salads {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.specials-list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.specials-section {
  background-position: left;
  background-repeat: no-repeat;
  /* background-size: contain; */
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 100%;
}

.specials-section img {
  background-position: left;
  background-repeat: no-repeat;
  /* background-size: contain; */
  transform: translate(35%, -5%);
  position: relative;
  opacity: 0.3;
}

.specials-pizzas,
.specials-rolinhos,
.specials-salads {
  transform: translate(0, -125%);
  padding-top: 0;
}
